@import "components/__components";
@import "pages/__pages";

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.wrapper {
  width: 100%;
}

li, a {

  text-decoration: none;
  list-style-type: none;

}